{% extends "layout.html" %}
{% block content %}
<div class="row">
    <form method="POST" action="edit/title">
        <h2><input type="text" name="title" value="{{ image.name }}"/></h2>
        <input type="submit" value="Save title"/>
    </form>
    {{ image }}
    <div class="col-md-4">
        {% if image.uploader == 'None' %}
        <p>Unknown uploader</p>
        {% else %}
        <p>Added by {{ image.uploader }}</p>
        {% endif %}
        <h3>Tags</h3>
        <p>Enter one tag per line. Case insensitive. Click on Save tags when you're done.</p>
        <form method="POST" action="edit/tags">
        <textarea name="tags" cols="25" , rows="10">{% for tag in image.tags %}
{{ tag.name }}{% endfor %}</textarea><br/>
            <input type="submit" value="Save tags"/>
        </form>
    </div>
    <div class="col-md-4 img-thumbnail">
        <a href="/image_link/{{image.image_path}}">
            <img src="/thumbnail/{{ image.image_path }}/large">
        </a>
    </div>
</div>

{% endblock %}
