{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Paradise</h1>
    <p class="lead">Enjoy life and what it has to offer.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2><a href="/tags">Tags</a></h2>
        <p>Recent tags</p>
        {% for tag in used_tags %}
        <div class="imagecontainer img-thumbnail">
            <div class="caption">
                <p><span class="imagename"><a href="tags/{{ tag.tag_name }}">{{ tag.tag_name }}</a>  ({{ tag.images }}) </span></p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <h2><a href="/explore">Explore</a></h2>
        <p>All images that await being tagged</p>
        {% for image in images_needing_tags %}
        <div class="imagecontainer img-thumbnail">
            <a href="image_link/{{ image.image_path }}">
                <img src="/thumbnail/{{ image.image_path }}/small">
            </a>
            <div class="caption">
                <p><span class="imagename"><a href="/images/{{ image.image_id }}">{{ image.name }}</a></span></p>
                <p>
                        <span class="filesize">
                            ({{ image.file_size // 1024}} KiB)
                        </span>
                    uploaded on {{ image.created_date }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
</div>

{% endblock %}
