{% extends "layout.html" %}
{% block content %}

<div class="row">
    <form action="/search" method="get">
        <input type="text" name="term"/>
        {{ csrf }}
        <input type="submit" value="Search"/>
    </form>
    <div class="col-md-8">
        <h2>Search results</h2>
            {% for image in images %}
            <div>
                <a href="/images/{{ image.image_id }}"><img src="/thumbnail/{{ image.image_path }}/small"></a>
                <a href="/image_link/{{ image.image_path }}">{{ image.name }}</a> ({{ image.file_size // 1024 }} kB)
                {% for tag in image.tags %}
                <a href="tags/{{ tag.name }}">
                    <button class="btn btn-outline-info btn-sm">{{ tag.name }}</button>
                </a>&nbsp;({{ tag.images }})<br/>
                {% endfor %}
                <hr />
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}
